{%  extends 'common/base.html' %}
{% load static %}
{% block content %}
<title>Funakademy|About</title>


<style>
    /* .section2{
        padding: 40px;
        overflow: hidden;
 
    }
    .container-shape{
        background-color:#B3B3B3;
        width: 1114px;
        height: 648px;
        border-radius: 20px;
           
    }
    .abstract{
        
        margin-left: 70%;
    
        background: 
    radial-gradient(10% 10%,#c7c2c2 98%,#5a585800),
    radial-gradient(14% 14%,#0000 18%,#8b8b8a) 50px 50px;
  background-size:10px 10px;
    width: 334px;
    height: 317px;
    rotate: 90 deg; 
       }
       .welcome{
        padding: 60px;
        background: rgba(1, 52, 89, 1);
        height: 561px;
        position: relative;
        bottom: 300px;
        width: 658px;
        z-index: 1;
        color: rgba(255, 255, 255, 1);
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
       }
       .welcome h4{
        font-size: 18px;
       }
       .welcome h1{
        font-size: 48px;
       }
       .welcome span{
        color: rgba(255, 184, 0, 1);
       }
       .welcome p{
        color: rgba(179, 179, 179, 1);

       }
       .welcome-img{
        position: relative;
        bottom: 850px;
        left: 500px;
        z-index: 0;
       }
        */
        .section2{
            margin-bottom: 100px;
        }
        .about-container{
            margin-top: 50px;
        }
        .about2{
            margin-bottom: 50px;
        }
</style>

<section class="section2">
    <div class="container">
        <div class="container-shape">

            <div class="welcome">
                <h4>
                    Welcome to Funakpo
                </h4>
                <h1>
                    ABOUT <span>Excellence!</span> 
                </h1>
                <p class="desktop">
                    At YourBank, we believe that banking should be more than just transactions. It should be an experience that empowers individuals and businesses to thrive and reach their financial goals. As a trusted financial institution, we are committed to delivering exceptional banking services that go beyond expectations. With a focus on innovation, personalized solutions, and unwavering integrity, we strive to provide the best banking experience for our valued customers. 
                    Join us on this exciting journey and discover a new level of banking excellence.
                </p>
                <p class="mobile-welcome">
                    At FUNAKPO ACADEMY, we recognize every individual child’s needs 
                    and effectively work with them to achieve positive results. 
                </p>
            </div>
            <div class="welcome-img">
                <img src="{% static 'images/image.jpg' %}" alt="">
            </div>
            <div class="abstract">

            </div>
        </div>
    </div>

</section>
<section class="about2">
    <div class="container">
        <div class="about-container">
            <div>
                <h1>
                    Mission & Vision
                </h1>
                <p>
                    We envision being a leading force in the industry, driven by innovation, integrity, and inclusivity, creating a brighter financial future for individuals and businesses while maintaining
                     a strong commitment to customer satisfaction and community development
                </p>
            </div>
            <div class="about2-grid">
                <div>
                    <img src="{% static 'images/about2.svg' %}" alt="art">
                </div>
                <div>
                    <h1>
                        Mission
                    </h1>
                    <p>
                        We are working together to provide a stimulating and happy learning environment in which our team of highly trained staff provide quality teaching in well resource buildings to address the special needs of our pupils and students in partnership with parents and guardians.
                            We want to create a school in which children:
                            <ul>
                                <li>
                                    Are happy and safe
                                </li>
                                <li>
                                    Achieve behavior and standards we are proud of by following the ‘Funakpo Way’
                                </li>
                                <li>
                                    Are independent in their learning
                                </li>
                                <li>
                                    Promote respect for themselves, others and the environment
                                </li>
                                <li>
                                    Develop enquiring minds and a spirit of curiosity
                                </li>
                            </ul>

                    </p>
                </div>
                <div>
                    <h1>
                        Vision
                    </h1>
                    <p>
                        To provide a place of excellence where children can achieve full
                         potentials in their academic, creative, personal, physical, moral and spiritual development
                    </p>
                </div>
                <div>
                    <img src="{% static 'images/about1.svg' %}" alt="">
                </div>

            </div>

        </div>
        <div class="about-container">
            <div>
                <h1>
                    Belief & Goals
                </h1>
                <p>
                    We envision being a leading force in the industry, driven by innovation, integrity, and inclusivity, creating a brighter financial future for individuals
                     and businesses while maintaining a strong commitment to customer satisfaction and community development
                </p>
            </div>
            <div class="about2-grid">
                <div>
                    <img src="{% static 'images/about3.svg' %}" alt="art">
                </div>
                <div>
                    <h1>
                        Belief
                    </h1>
                    <p>
                        We believe that all children are made with different cognitive, affective and psychomotor abilities. That child “A”s development can never be like child “B”s.
                        We developed and improved on the principle of individual learning. We believe that a child must be assisted as an individual to fully attain his highest potential while taken into cognizance his natural development pace.
                        During school hours, different approaches and methodologies of teaching are implemented in order to enable pupils and students with diverse learning abilities make connection between the world around them and the school curricula.
                        At FUNAKPO ACADEMY, we recognize every individual child’s needs and effectively work with them to achieve positive results.

                    </p>
                </div>
                <div>
                    <h1>
                        Goals
                    </h1>
                    <p>
                        To provide a stimulating and happy environment in which the unique needs and challenges of our pupils and students will be individually addressed. While working on the most important area, we also ensure we build in all our pupils and students:
                        <li>Self Esteem</li>
                        <li>Excellent Christian Character</li>
                        <li> Self Confidence, and</li>
                        <li>Self-Reliance</li>
                    </p>
                </div>
                <div>
                    <img src="{% static 'images/about5.svg' %}" alt="">
                </div>

            </div>

        </div>
        <div class="about-container">
            <div>
                <h1>
                    School Structure & School Day
                </h1>
                <p>
                    We envision being a leading force in the industry, driven by innovation, integrity, and inclusivity, creating a brighter financial future for individuals 
                    and businesses while maintaining a strong commitment to customer satisfaction and community development
                </p>
            </div>
            <div class="about2-grid">
                <div>
                    <img src="{% static 'images/about7.svg' %}" alt="art">
                </div>
                <div>
                    <h1>
                        School Structure
                    </h1>
                    <p>
                        Funakpo Academy is headed by the school administrator who oversees the short and long terms management of the school as well as directly responsible for strategic planning and policy making of the school. The administrator persistently seeks for ways to upgrade and improve the quality and academic competence of the teachers and non-teaching staff.
                        The School head coordinates the day to day activities of the school, he ensures the content delivery of the curricula is constantly and consistently checked and periodically evaluated for optimized results.
                    </p>
                </div>
                <div>
                    <h1>
                        School Day
                    </h1>
                    <p>
                        FUNAKPO ACADEMY school day starts at 8:00am through 2:00pm (Nursery) and 3:00pm (Primary and Secondary) Monday – Thursday and 12:00pm (Nursery) 1:00pm (Primary and Secondary) for Friday.
                    </p>
                </div>
                <div>
                    <img src="{% static 'images/about4.png' %}" alt="">
                </div>

            </div>

        </div>

        <div class="about-container">
            <div>
                <h1>
                    Staff
                </h1>
                <p>
                    We envision being a leading force in the industry, driven by innovation, integrity, and inclusivity, creating a brighter financial future for individuals and businesses while maintaining a strong commitment to customer satisfaction and community development
                </p>
            </div>
            <div class="about2-grid">
                <div>
                    <img src="{% static 'images/about6.svg' %}" alt="art">
                </div>
                <div>
                    <h1>
                        Staff
                    </h1>
                    <p>
                        Funakpo Academy is headed by the school administrator who oversees the short and long terms management of the school as well as directly responsible for strategic planning and policy making of the school. The administrator persistently seeks for ways to upgrade and improve the quality and academic competence of the teachers and non-teaching staff.
                        The School head coordinates the day to day activities of the school, he ensures the content delivery of the curricula is constantly and consistently checked and periodically evaluated for optimized results.

                    </p>
                </div>


            </div>

        </div>
    </div>

</section>




{%endblock%}