{%  extends 'common/base.html' %}
{% load static %}
{% block content %}
<title>Funakademy|Contact</title>
<style>

    .contact{
        text-align: center;
        line-height: 5.0rem;
    }
    .contact h1{
        color: rgba(1, 52, 89, 1);
        padding: 5px;

    }
    .contact h2{
        padding: 5px;
    }
    .footer-social i{

        background-color: rgba(1, 100, 171, 1);
        color: white;
        border-radius: 30px;
        padding: 10px;
    }
    .footer-social a{
        padding: 10px;
    }
</style>


<section class="carouselBanner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for slide in slider %}
          <div class="carousel-item active">
            <img src="{{ slide.slideImg.url}}" class="d-block w-100" alt="jane">  
          
          </div>
           <!-- Take note of this below -->
          {%endfor%}
          
          <!-- <div class="carousel-item">
            <img src="{% static 'images/bg.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/banner-image.jpg' %}" class="d-block w-100" alt="...">
          </div> -->
        </div>
      </div>
</section>

<section class="contact">
    <div class="container">
        <div>
            <h1>
                Contact us:
            </h1>
            <h2>
                +1-415-555-0173
            </h2>
            <h2>
                ohamid@uioct.com
            </h2>
            <p>
                Page Loft, 1228 Diamond Street,
San Francisco
            </p>
            
        </div>
        <div class="footer-social">

            <a  href="https://web.facebook.com/ASGInternationalq" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a> 
            <a href="https://twitter.com/offical_asgi" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/asg_cf/" target="_blank"><i class="fab fa-instagram fa-2x "></i></a> 
           

        </div>
    </div>
</section>

{%endblock%}